/* Estilos para el fondo de la página */
body {
    background-color: #2a2a2a; /* Color de fondo para toda la página */
    color: #fff; /* Color de texto para resaltar */
}

/* Estilos para el menú de navegación */
nav {
    background-color: #2a2a2a; /* Cambié el color de fondo */
    padding: 20px 20px; /* Añadí un relleno para mantener un espacio entre el menú y los bordes */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start; /* Alineo los elementos del menú a la izquierda */
}

nav li {
    margin: 0 15px;
    position: relative;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px;
    transition: color 0.3s;
}

nav a:hover {
    color: #f48c06;
}

/* Estilos para el menú desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2a2a2a; /* Cambié el color de fondo */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%; /* Ajusté la posición del menú desplegable */
    left: 0; /* Ajusté la posición del menú desplegable */
    border-radius: 4px;
    padding-top: 8px;
}

.dropdown-content a {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #444; /* Cambié el color de fondo al pasar el cursor */
}

.dropdown:hover .dropdown-content {
    display: block;
}
